<h1>Freebies: Eventually They'll Add Up</h1>
<p>
  Free water bottle?  Free t-shirt?  Free slice of pizza?
  This site is for me to keep track of all my freebies and how much they're worth.
</p>

<%= link_to "Add an Item", add_path, :class => "addItem_button round" %>
<p></p>
<%= link_to "See the Summary", '#', :class => "summary_button round" %>